:root {
    --yellow: #FFCA37!important;
    --blue: #00A2E8!important;
    --blue-low: #0090ce!important;
}

.bg-primary {
    background: var(--yellow)!important;
}

.page-title {
    color: var(--blue)!important;
    margin: 0!important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 214, 214);
}

h5 {
    margin: .4rem 0;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

html, body {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.avatar-p {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-header {
    margin-right: 1rem;
}

.go-to-user-profile {
    position: absolute;
    top: 7px;
    right: 30px;
    margin-right: 2rem;
}

.go-to-user-profile-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .go-to-user-profile-inner i {
        margin-left: 12rem;
        font-size: 1.2rem;
        color: black!important;
        cursor: pointer;
        transition: all 0.4s;
    }

    .go-to-user-profile-inner h6 {
        margin-top: .2rem;
    }

.rotate {
    transform: rotate(180deg);
}

.profile-more-options-container {
    position: absolute;
    top: 30px;
    right: -30px;
    background: #FFCA37;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 2;
    transition: all 0.4s;
    overflow: hidden;
    opacity: 0;
}

    .profile-more-options-container ul {
        margin: 0;
        list-style: none;
    }

    .profile-more-options-container ul li {
        font-weight: 500;
        cursor: pointer;
        margin: 3px 0;
        padding: 4px 10px;
    }
    .profile-more-options-container ul li:hover {
        background: #dfb030;
    }

.opacity-1 {
    opacity: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.header-icon {
    right: 15px;
    cursor: pointer;
}

    .header-icon:hover {
        color: var(--blue-low)!important;
    }

.steps h5 {
    font-weight: 700;
}

.col-scrum {
    height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-p-30 {
    padding-left: 30px;
}

.col-pr-30 {
    padding-right: 30px;
}

.card-link {
    width: 100%;
    margin: 0!important;
}

.font-small {
    font-size: .9rem!important;
}

.card-os {
    background: rgb(242, 242, 242);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-height: 15rem;
    border-radius: 15px;
    padding: 1rem;
    margin: .6rem auto;
}

.card-os-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor-card-name {
    font-weight: 500;
}

.sponsor-name {
    margin-left: 1rem;
    font-weight: 700;
}

.priority-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 2.5rem;
}

.priority-container h6 {
    margin: .2rem 0 .4rem;
}

.os-description {
    overflow: hidden;
    max-height: 7.5rem;
    margin-bottom: .4rem;
}

.card-os-body {
    position: relative;
}

.feedback-text {
    position: relative;
    padding-left: 5.1rem;
}

.count-characters {
    position: absolute;
    right: 0;
}

.max-length {
    color: red!important;
}

.characters-response {
    position: absolute;
    left: 5.1rem;
    display: none;
    color: red;
}

.text-elipsis {
    display: none;
    line-height: 1.2rem;
    font-size: 1.4rem;
    color: black;
    background: rgb(242, 242, 242);
    padding: 0 5px;
    position: absolute;
    right: 0;
    bottom: 5px;
}

.normal {
    background: orange;
}

.priority {
    background: red;
}

input {
   padding-left: .5rem;
}

input, select {
    background: rgb(248, 248, 248);
    border: 1px solid gray;
    border-radius: 5px;
}

.description {
    display: flex;
}

.form-os {
    margin: 2rem 0;
}

label {
    margin: 0;
}

.container-input {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input label {
    margin-right: .5rem;
}

.description {
    margin-top: 2rem;
    font-weight: 600;
}

.description label {
    margin-right: .5rem;
}

.description textarea {
    width: 100%!important;
    resize: none;
    padding: .5rem;
}

.form-buttons {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-buttons button {
    margin: auto .5rem;
}

nav {
    position: relative;
}

nav i {
    color: var(--blue)!important;
    position: absolute;
    font-size: 2rem;
    margin-left: 1rem;
}

.return {
    left: 0;
}

.new-os {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: .5rem auto;
    cursor: pointer;
    border-radius: 10px;
    padding: .6rem 0;
    color: rgb(72, 72, 72);
}

.new-os:hover {
    background:rgb(228, 228, 228);
}

.new-os h6 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.new-os i {
    margin-right: .5rem;
    font-size: 1.5rem;
}

.response {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: red;
}

.os-list {
    width: 100%;
    max-height: 93%;
    overflow-y: scroll;
    margin: .5rem 0;
}

/* LOGIN */

.login {
    width: 100%;
    height: 100vh;
    background: url("../img/logo-cademint-v2-reduced.png"), #FFCA37;
    background-repeat: no-repeat;
    background-position: center 5%;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    background: var(--white);
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 70px 25px;
    margin: 0 15px;
}

.header-text {
    align-self: center;
    font-size: 1.7rem;
}

.login-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}
    .login-actions h6 {
        font-size: .9rem;
    }

.login-actions h6 a:hover {
    text-decoration: underline!important;
}

.login .form-input, .login button {
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px 30px;
}

.login input {
    border: 1px solid #CFCFCF;
    background: #F1F5FA;
    border-radius: 10px;
    margin: 10px 0;
}

.login button {
    background: #00A2E8;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.2rem;
    cursor: pointer;
}

.login button:active {
    background: #008ac5;
}

.login form {
    margin: 20px 0;
    text-align: center;
}

#register {
    margin-top: 2px;
}

.register {
    margin-right: 8px!important;
}

.login span {
    cursor: pointer;
}

.login span:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.login .response {
    display: none;
    margin-top: 1rem;
    color: #DA2626!important;
    text-align: center!important;
    font-size: 1rem!important;
    text-transform: uppercase!important;
    font-weight: 600!important;
}

.login .success {
    color: #56b335!important;
}

.remember {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    display: none;
}

    .remember label, .remember input {
        cursor: pointer;
    }

#remember {
    margin: 0 5px;
}

@media(max-width: 420px) {
    .header-text {
        font-size: 1.3rem;
    }
    .login {
        padding: 35px 10px;
    }
    .login button {
        font-size: 1rem;
    }
    .login-actions h6, .login-actions h6 a {
        font-size: .8rem;
    }
}

@media (max-width: 920px) {
    .login-container {
        background-size: 300px;
    }
}
@media (max-width: 650px) {
    .login-container {
        background-size: 250px;
    }
}

@media (max-width: 460px) {
    .login-container {
        background-size: 200px;
    }
}

/* LOADING */

.loading {
    width: 35px;
    height: 35px;
    background: transparent;
    margin: 10px auto;
    border-radius: 100%;
    border: 6px solid #DA2626;
    border-right: 6px solid transparent;
    animation: loading 1s linear infinite;
    display: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* UPDATE PROFILE */

.update-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 49px);
}

.update-profile-inner {
    background: white;
    border-radius: 20px;
    width: 50rem;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 70px 25px;
    margin: 0 15px;
    position: relative;
}

.update-profile-header {
    margin: 0 1.5rem 4rem;
}

.update-profile-body {
    margin: 1rem 3rem;
}

#update-profile-form .response {
    font-size: 1rem;
}

.update-profile-footer {
    margin: 1.5rem;
}

.form-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.save-button {
    padding: 5px 15px;
    margin: 15px auto;
    text-align: center;
    background: #56b335;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:hover {
    background: #4d9e2f;
}

.user-photo {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    border: 1px solid rgb(165, 165, 165);
    color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.user-photo-container {  
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo .user {
    font-size: 5rem;
}

.user-photo .plus {
    font-size: 1.5rem;
}

.photo-options {
    position: absolute;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 180px;
    color: black;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 5px 15px;
}

    .photo-options span {
        display: block;
    }

    .photo-options ul {
        list-style: none;
        margin: 0;
    }

    .photo-options ul li {
        margin: .5rem 0;
        padding: 7px 17px;
        cursor: pointer;
    }

    .photo-options ul li:hover {
        background: rgb(218, 218, 218);
    }

.upload {
    background: white;
    border-radius: 20px;
    margin: auto;
    width: 30rem;
    height: 22rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    transition: transform 0.4s;
    transform: translateY(-100vh);
    display: none;
    padding: 1.5rem;
}

.overlay {
    background: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.update-profile input[type='file'] {
    display: none;
}

#upload-button {
    background: #00A2E8;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

#upload-button:hover {
    background: #0090ce;
}

.input-file-custom span {
    display: block;
    text-align: center;
}

#update-profile-button {
    display: none;
}

.send {
    display: flex;
    justify-content: center;
}

.send-photo {
    display: flex;
}

.file-name {
    margin: 0;
    margin-left: 1.5rem;
    height: 34px;
    display: flex;
    align-items: center;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.photo-preview {
    display: none;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: calc(100% - 110px);
    overflow: hidden;
}

.image-preview {
    width: 80%;
}

#user-image {
    display: none;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.user-photo-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload button {
    height: 34px;
    padding: 0 15px;
    margin: 0 0 0 1.5rem;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

.name-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-input input {
    padding: 7px 15px;
}

.name-input label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.photo-detail-container {
    background: white;
    border-radius: 20px;
    margin: auto;
    width: 30rem;
    height: 30rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    top: -5rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    transition: transform 0.4s;
    transform: translateY(-100vh);
    display: none;
    padding: 1.5rem;
}

.photo-detail {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.delete-image {
    position: absolute;
    bottom: 0;
    color: black;
    background: white;
    opacity: 0.8;
    width: 100%;
    /*display: none;*/
    display: flex;
    transition: transform 0.4s;
    transform: translateY(30px);
    justify-content: center;
    align-items: center;
    padding: .2rem 0;
    z-index: 4;
}

.delete-image:hover {
    opacity: 0.6;
}

.show-photo {
    display: none;
}